:root {
    --primary: black;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    display: inline-block;
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--outline {
    display: inline-block;
    background-color: transparent;
    color: black;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    display: inline-block;
    padding: 8px 20px;
    font-size: 18px;
}

.btn--large {
    display: inline-block;
    padding: 12px 26px;
    font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
    display: inline-block;
    transform: scale(1.1);
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 500ms;
}